# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
.venv/
env/

# Environment
.env

# Logs
*.log

# Static / media (если не нужно хранить)
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db